.MsgScreenContainer {
    order: 2;
    position: relative;
    flex-grow: 1;
    height: 1px;
    /*height height'ın olabileciği maksimum degerden küçük olarak ayarlanırsa flex grow height'ı otomatikleştiriyor.*/
    width: 100%;
    /* height: calc(100vh - 202px); */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.MsgScreen {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-top: 12px;
}