.MessageBox {
    height: 72px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.MessageBoxActive {
    background-color: var(--BackgroundActive);
    height: 72px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.BoxPhotoContainer {
    height: 72px;
    padding-left: 15px;
    padding-right: 13px;
}

.BoxPhoto {
    margin-top: -1px;
    padding: 12px 0;
    height: 49px;
    width: 49px;
    border-radius: 50%;
}

.BoxInfo {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    flex-grow: 1;
    color: var(--Secondary);
}

.BoxInfoName {
    display: flex;
}


.MessageBoxName {
    color: var(--PrimaryStrong);
    text-align: left;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 17px;
    display: grid;
    grid-template-columns: auto 1fr;
    flex-grow: 1;
}

.MessageBoxNameText {
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.BoxLastMsgTime {
    margin-top: 3px;
    margin-left: 6px;
    overflow: hidden;
    line-height: 14px;
    flex: none;
    align-self: flex-end;
    max-width: 100%;
    font-size: 12px;
}

.BoxLastMsg {
    margin-top: 2px;
    line-height: 20px;
    max-height: 20px;
}

.OtherIcons {
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    line-height: 18px;
}
.OtherIcons > svg {
    margin-right: 5px;
}
.OtherIcons > svg:nth-last-child(1) {
    margin-right: 0;
}

.LastMsgBox {
    display: flex;
    align-items: flex-start;
    color: var(--Secondary);
}

.LastMsgBoxActive {
    display: flex;
    align-items: flex-start;
    color: var(--Primary);
}

.LastMsg {
    display: grid;
    grid-template-columns: auto 1fr;
    flex-grow: 1;
}

.LastMsgText {
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}