.BoxContainer {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.SearchBoxContainer {
    position: relative;
    padding-left: 12px;
    flex: 1;
}

.SearchBox {
    position: relative;
    background-color: var(--Header);
    height: 35px;
    padding-right: 32px;
    padding-left: 65px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    flex-grow: 1;
    align-items: center;
    color: var(--Secondary);
}

.SearchBoxText {
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.SearchBoxIcon {
    position: absolute;
    top: 5.5px;
    left: 12px;
    width: 24px;
    height: 24px;
}

.UnreadIcon {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    justify-content: center;
}