:root {
  --PrimaryStrong: #e9edef;
  --Primary: #d1d7db;
  --Secondary: #8696a0;
  --Background: #111b21;
  --BackgroundActive: #2a3942;
  --ScroolBar :#374045;
  --Header: #202c33;
}

::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

::-webkit-scrollbar-thumb {
  background: var(--ScroolBar)
}


body {
  margin: 0;
  background-color: var(--Background);
  color: var(--PrimaryStrong);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }