.MessageLine {
    padding: 0 7%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.MessageContainer {
    background-color: var(--MessageIn);
    border-radius: 7.5px;
    border-top-left-radius: 0;
    max-width: 85%;
    font-size: 14.2px;
    line-height: 19px;
    display: flex;
    position: relative;
}

.MessageTail {
    position: absolute;
    z-index: 100;
    width: 8px;
    left: -8px;
    top: 0;
    height: 13px;
    color: var(--MessageIn);
}

.MessageBody {
    padding: 6px 7px 8px 9px;
}

.MessageTextBody {
    position: relative;
}

.MessageText {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.MessageSpace {
    width: 56px;
    height: 0;
    display: inline-block;
    vertical-align: middle;
}

.Metadata {
    float: right;
    margin: -10px 0 -5px 4px;
    font-size: 0.7rem;
    color: var(--Secondary);
    height: 15px;
    line-height: 15px;
    display: flex;
    flex-direction: row;
}

.SendingTime {
    display: inline-block;
    vertical-align: top;
}